{{#blk-title}}
  {{~yield~}}
{{/blk-title}}

<div class="pad">
  <select {{action 'selectChanged' on='change'}}>
    <option value="">-- Select an assessment --</option>
    {{#each assessments key='assessmentId' as |assessment|}}
    <option value="{{assessment.assessmentId}}" selected={{if (eq selectedValue assessment.assessmentId) true false}}>
      {{~assessment.title~}}
    </option>
    {{/each}}
  </select>

  <button type="button" class="button" disabled={{demoDisabled}} {{action 'showDemo'}}>Go</button>
</div>
