{{#blk-title}}
  Evolution of preferences to explore goal spaces
{{/blk-title}}

{{high-charts chartOptions=chartOptions content=chartData pointInterval=pointInterval}}

<div class="revertexp">
  {{#blk-title}}
    Revert to previous state
  {{/blk-title}}

  <div class="revertexp-form">

    <div class="input-group">
      <span class="input-group-label">Trial</span>
      {{input type='number' min=1 value=selectedPoint class='input-group-field'}}
      <div class="input-group-button">
        {{#if askConfirmation}}
          <button type="button" class="success button" disabled={{resetDisabled}} {{action 'confirmTimeTravel'}}>Confirm</button>
          <button type="button" class="alert button" {{action 'cancelTimeTravel'}}>Cancel</button>
        {{else}}
          <button type="button" class="button" disabled={{resetDisabled}} {{action 'requestTimeTravel'}}>Revert</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
