<h3 class="interest-title pos-{{position}}">{{interest.title}}</h3>

{{high-charts chartOptions=chartOptions content=chartData class='gauge-wrapper'}}

<button type="button" class="small secondary fat button {{if isFocused 'pushed'}}" {{action 'toggleFocus'}}>
  {{if isFocused 'Stop' 'Start'}} focus
</button>
