{{#blk-title}}
  Goal spaces and current exploration preferences
{{/blk-title}}

<div class="interests-gauges">
  {{#each interests key='interestId' as |interest index|}}
    <div class="interest-wrapper">
      {{interest-button
        interest=interest
        focusedInterest=focusedInterest
        focusHandler=(action 'focusInterest')
        position=index
      }}
    </div>
  {{/each}}
</div>
