@import 'foundation-settings';
@import 'node_modules/foundation-sites/scss/foundation';

@import 'colors';
@import 'fonts';

@mixin nips-foundation {
  @include foundation-global-styles;
  @include foundation-flex-grid;
  @include foundation-typography;
  @include foundation-forms;
  @include foundation-button;
}

@include nips-foundation;

.button {
  &.fat {
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    text-transform: uppercase;

    @each $name, $color in $foundation-palette {
      &.#{$name} {
        @include button-style($color, auto, auto);

        transition: box-shadow .12s, transform .12s;
        border: 1px solid $color;
        box-shadow: 0 8px 0 darken($color, 30%);

        &.pushed,
        &:active {
          transform: translateY(6px);
          box-shadow: 0 2px 0 darken($color, 30%);
        }
      }
    }
  }
}

$border: 1px solid $grey;

body {
  color: $black;
  font-family: Roboto, sans-serif;
}

svg {
  font-family: inherit;
}

.title {
  margin: 0 auto 3px 0;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;

  > span {
    display: inline-block;
    padding: 3px 10px 3px 3px;

    background-color: $black;
    color: $white;
  }
}

.pad {
  padding: 10px;
}

.interests-gauges {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px 0;
}

.interest-wrapper {
  flex: 0 0 170px;
  padding: 5px;
  text-align: center;

  .button {
    width: 140px;
  }
}

.interest-title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;

  &::after {
    display: block;
    width: 50px;
    height: 4px;
    margin: 0 auto;
    content: '';
  }

  @for $i from 1 through length($charts-colors) {
    $color: nth($charts-colors, $i);

    &.pos-#{$i - 1} {
      &::after {
        background-color: $color;
      }
    }
  }
}

.gauge-wrapper {
  width: 170px;
  height: 110px;
  margin: 0 auto;

  div {
    height: 110px;
  }
}

.gauge-legend {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.gauge-legend-value {
  display: inline-block;
  width: 50px;
  color: $black;
  font-size: 22px;
  line-height: 1;
}

.gauge-legend-unit {
  display: inline-block;
  padding: 0 3px;
  color: $grey;
  font-size: 12px;
}

// end gauges

.b-wrapper {
  display: flex;
  border-top: $border;
}

.interests-repartition {
  flex: 1 1 800px;

  .highcharts-wrapper {
    height: 300px;

    div {
      height: 300px;
    }
  }

  .button {
    margin-bottom: 0;
  }
}

.revertexp {
  margin-top: 20px;
  border-top: $border;

  .revertexp-form {
    max-width: 400px;
    margin: 10px auto 0;

    .input-group-button {
      margin-left: 5px;
    }
  }
}


.assessments {
  flex: 0 1 320px;
  border-left: $border;

  .pad {
    display: flex;
  }
}
