{{interactive-interests
  interests=model.interests
  focusedInterest=model.focusedInterest
  updateFocusAction='updateFocus'
  class='interests'
}}

<div class="b-wrapper">
  {{interests-repartition
    interests=model.interests
    pointInterval=model.pointInterval
    dataset=model.dataset
    isBusy=model.isBusy
    timeTravelAction='timeTravel'
    class='interests-repartition'
  }}

  {{#assessments-form isBusy=model.isBusy class='assessments' showDemoAction='updateAssessment'}}
    Assess learning
  {{/assessments-form}}
</div>
